
body{
  
    background: linear-gradient(#c2a8ff, #ebe7ea);
    color: rgb(19, 15, 15);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}
.color{
  color:#212529!important;
  font-weight: 800;
}


.nighty{
  background:url(../img/5.png);
  
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
.sunny{
  background:url(../img/4.png);
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
  font-weight: 700;
}
.stylcard{
  box-shadow: 0 5px 0px -2px rgba(44, 43, 43, 0.068);

}
.card{
background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    backdrop-filter: blur(10px); 
}
.caard{
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
      backdrop-filter: blur(10px); 
  }
.form-floating .form-control{
    border: 0;
    border-bottom: 1px solid wheat;
    background-color: transparent;
}
.form-control:focus {
    color: #212529;
    background-color: #ffffff7d;
    border-color: #86b7fe00;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(8, 8, 8, 0);}

p{
    font-size: 13px;
}

a{
    color: rgb(247, 191, 49);
    transition: 0.4s;
}
a:hover{
    transform: scale(1.2);
    color:white;
}

.newheight{
    height: 100vh;
}


/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 100px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 30px;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 100px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
 
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
.center{
  vertical-align: middle;
}
.hit{
  max-height: 50vh !important;
  overflow-y: auto!important;
  scrollbar-width: none !important;
}
/* Hide the scrollbar for Chrome, Safari and Opera */
.hit::-webkit-scrollbar {
  display: none;
 
}
.icon{
  display: block;
  height:30px;
  width: 30px;
}
.font.d-md-flex{
  font-size: 10px;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;

}
.ag-courses_item:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: -1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}